* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
    scroll-behavior: smooth;
}

main {
    background-color: #d7d9d9;
    color: black;
    align-items: center;
}

.header {
    padding: 20px;
    background-color: #d5f7f7;
    color: purple;
    text-align: center;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}


nav a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    text-align: right;
    align-items: flex-end;
    color:purple;
    font-size: 25px;
}

h3 {
    color: darkslateblue;
}

.float-keep-left {
    display: flex;
    flex-wrap: wrap;
    float: right;
}

p {
    font-size: 18px;
    padding: 10px;
}

.content {
    width: 98%;
    display: inline-block;
    margin-left: 20px;
}

img {
    border-radius: 20px;
    margin: 10px;
}

h2, .aboutMe {
    margin-bottom: 20px;
    font-size: 36px;
    color: purple;
    text-align: center;
}

.btn {
    background-color: #d5f7f7;
}

footer {
    padding: 10px;
    clear: both;
    text-align: center;
    justify-content: center;
}
.profile-photo {
    box-sizing: border-box;  
    float: right;
    margin: 20px;
    border-radius: 20px;
    max-width: 400px;
    max-height: 400px;
    box-shadow: 10px 10px 5px grey;
}

.projects {
    flex: 1;
    background-color: #d5f7f7;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 1 0 200px;
    box-shadow: 10px 10px 5px grey;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    background-color: lightblue;
    color:#d5f7f7;
  }
  
.project a {
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    width: 100%;
    align-items: center;
  }
  
.project p {
    text-align: center;
  }

.project img  {
    max-width: 200px;
    max-height: 200px;
}

span.contact-info {
    color: purple;
  }



footer p:after {
    content: 'Catherine Smith';
    color: purple
}
